[Unit]
Description=Dyer
After=local-fs.target network.target

[Service]
User=root
EnvironmentFile=/opt/Dyer/environment
WorkingDirectory=/opt/Dyer
ExecStart=java -jar -server $JVM_OPTIONS Dyer-shadow.jar server /etc/Dyer.yml
Restart=always

[Install]
WantedBy=multi-user.target